{% load staticfiles %}
<div class="col-md-3 col-sm-6 masonry-grid-item">
	<div class="listing-item">
		<div class="overlay-container">
			<a href="{% url 'product' product.pk %}"><img src="/media/{{product.photo_featured.file}}"></a>
		</div>
		<div class="listing-item-body clearfix">
			<h3 class="title"><a href="{% url 'product' product.pk %}">Lote {{product.product_number}}</a></h3>
			<p>{{product.description}}</p>
			<span class="price">R$ {{product.initial_price}}</span>
			<div class="elements-list pull-right">
				<a href="{% url 'product' product.pk %}"><i class="fa fa-gavel pr-10"></i>Ver</a>
			</div>
		</div>
	</div>
</div>
