{% extends 'backend.html' %}

{% block app %}
<h1 class="title">Alguns Números</h1>
<div class="separator-2"></div>

<div class="stats row grid-space-10">

	<div class="col-md-4">
		<div class="box-style-1">
			<h2 class="title">Usuários</h2>
			<i class="fa fa-users"></i>
			<span class="stat-num" data-to="{{user_count}}" data-speed="3000">{{user_count}}</span>
		</div>
	</div>

	<div class="col-md-4">
		<div class="box-style-1">
			<h2 class="title">Lotes</h2>
			<i class="fa fa-car"></i>
			<span class="stat-num" data-to="{{product_count}}" data-speed="3000">{{product_count}}</span>
		</div>
	</div>

	<div class="col-md-4">
		<div class="box-style-1">
			<h2 class="title">Lances</h2>
			<i class="fa fa-gavel"></i>
			<span class="stat-num" data-to="{{bid_count}}" data-speed="3000">{{bid_count}}</span>
		</div>
	</div>

</div><br><br><br>
{% endblock app %}

