{% extends 'base.html' %}

{% block title %}Ajuda{% endblock %}

{% block content %}
<div class="main col-md-12">

	<div class="row">

		<div class="col-md-10 col-md-offset-1">

			<h1>Ajuda</h1>

			<p>Dúvidas frequentes sobre a utilização do site.</p>

			<div class="panel-group" id="accordion-faq">

				<!-- starts panel -->

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading1" collapse_id="collapse1" manpage='website/help_sections/how_to_search_a_product.html' title="Como pesquisar um Lote?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading2" collapse_id="collapse2" manpage='website/help_sections/how_to_sign_up.html' title="Como se cadastrar na Brbid?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading3" collapse_id="collapse3" manpage='website/help_sections/how_to_make_a_bid.html' title="Como efetuar um lance?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading4" collapse_id="collapse4" manpage='website/help_sections/how_to_see_more_product_informations.html' title="Como ver mais detalhes sobre o produto?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading5" collapse_id="collapse5" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como ver o histórico de lances do produto?" %}


				{% if user.is_staff or user.is_superuser %}

				<h3>Manual da Área Administrativa</h3>

				<h4>Usuários</h4>

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading6" collapse_id="collapse6" manpage='website/help_sections/how_to_search_an_user.html' title="Como pesquisar um usuário?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading7" collapse_id="collapse7" manpage='website/help_sections/how_to_create_an_user_by_administrative_area.html' title="Como cadastrar um usuário pela área administrativa?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading8" collapse_id="collapse8" manpage='website/help_sections/how_to_accept_or_reject_an_user_registration.html' title="Como aceitar ou rejeitar um cadastro de usuário?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading9" collapse_id="collapse9" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como editar o cadastro de um usuário?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading10" collapse_id="collapse10" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como vincular um usuário a um grupo especifico?" %}

				<h4>Lotes</h4>

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading11" collapse_id="collapse11" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como pesquisar lotes na área administrativa?" %}


				{% include 'website/help_sections/_base_help_section.html' with head_id="heading12" collapse_id="collapse12" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como cadastrar um novo lote para leilão?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading13" collapse_id="collapse13" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como editar um lote?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading14" collapse_id="collapse14" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como apagar um lote?" %}

				<h4>Marca</h4>

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading15" collapse_id="collapse15" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como pesquisar uma marca?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading16" collapse_id="collapse16" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como cadastrar uma nova marca?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading17" collapse_id="collapse17" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como editar uma marca?" %}

				<h4>Modelo</h4>

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading18" collapse_id="collapse18" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como pesquisar um Modelo?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading19" collapse_id="collapse19" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como cadastrar um novo modelo?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading20" collapse_id="collapse20" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como editar um modelo existente?" %}

				<h4>Recomendações</h4>

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading21" collapse_id="collapse21" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como pesquisar recomendações para usuários?" %}

				{% include 'website/help_sections/_base_help_section.html' with head_id="heading22" collapse_id="collapse22" manpage='website/help_sections/how_to_see_bid_history_of_a_product.html' title="Como funciona a recomendação de produtos?" %}



				{% endif %}
	
			</div><!-- ./panel-group -->

		</div><!-- /.col-md-6 -->

	</div><!-- /.row -->

</div><!-- /.main -->

{% endblock content %}
