{% load staticfiles %}
<!-- banner start -->
<!-- ================ -->
<div class="banner shop-banner">

<!-- slideshow start -->
<!-- ================ -->
<div class="slideshow white-bg">

	<!-- slider revolution start -->
	<!-- ================ -->
	<div class="slider-banner-container">
		<div class="slider-banner">
			<ul>
				<!-- slide 1 start -->
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 1">

				<!-- main image -->
				<img src="{% static 'images/banners/b1.png' %}"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

				<!-- Translucent background -->
				<div class="tp-caption light-translucent-bg"
					data-x="center"
					data-y="bottom"
					data-speed="800"
					data-start="0"
					style="background-color:rgba(255,255,255,0.4);">
				</div>

				<!-- LAYER NR. 1 -->
				<div class="tp-caption very_large_text hidden-sm black sfl tp-resizeme"
					data-x="center"
					data-y="150" 
					data-speed="200"
					data-start="0"
					data-end="10000"
					data-endspeed="200"
					data-splitin="chars"
					data-elementdelay="0.07"
					data-endelementdelay="0.1"
					data-splitout="chars">Up To 50% Sales
				</div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption tp-resizeme hidden-sm sfb"
					data-x="center"
					data-y="230" 
					data-speed="700"
					data-start="600"
					data-end="10000"
					data-endspeed="600"><a href="page-services.html" class="btn btn-dark">Offers <i class="fa fa-angle-right pl-10"></i></a>
				</div>

				</li>
				<!-- slide 1 end -->

				<!-- slide 2 start -->
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 2">
				
				<!-- main image -->
				<img src="{% static 'images/slider-shop-slide-2.jpg' %}"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

				<!-- Translucent background -->
				<div class="tp-caption light-translucent-bg"
					data-x="center"
					data-y="bottom"
					data-speed="800"
					data-start="0"
					style="background-color:rgba(255,255,255,0.4);">
				</div>

				<!-- LAYER NR. 1 -->
				<div class="tp-caption very_large_text hidden-sm sft black tp-resizeme"
					data-x="center"
					data-y="150" 
					data-speed="700"
					data-start="200"
					data-end="10000"
					data-endspeed="600">Special Offers
				</div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption tp-resizeme hidden-sm sfb"
					data-x="center"
					data-y="230" 
					data-speed="700"
					data-start="600"
					data-end="10000"
					data-endspeed="600"><a href="page-services.html" class="btn btn-dark">Learn More <i class="fa fa-angle-right pl-10"></i></a>
				</div>

				</li>
				<!-- slide 2 end -->

			</ul>
		</div>
	</div>
	<!-- slider revolution end -->

</div>
<!-- slideshow end -->

