{% extends 'base.html' %}
{% load staticfiles bootstrap%}

{% block content %}

<!-- main start -->
<!-- ================ -->
<div class="main col-md-12">

	<div class="sorting-filters">
		<form class="form-inline">

			{{form|bootstrap}}


			<div class="form-group">
				<button class="btn btn-default">Filtrar</button>
			</div>
		</form>
	</div>

	<!-- page-title end -->
	
	<!-- shop items start -->
	<div class="masonry-grid-fitrows row grid-space-20">

		{% for product in object_list %}
			{% include 'website/_product_box.html' with product=product %}
		{% endfor %}

	</div>
	
	<div class="clearfix"></div>

	<ul class="pagination">
		{% if page_obj.has_previous %}
			<li><a href="?page={{page_obj.previous_page_number}}"><i class="fa fa-angle-double-left"></i> Anterior</a></li>
		{% endif %}
		{% if page_obj.has_next %}
			<li><a href="?page={{page_obj.next_page_number}}">Próxima<i class="fa fa-angle-double-right"></i></a></li>
		{% endif %}
	</ul>

</div>
<!-- main end -->

{% endblock content %}
