<!-- section start -->
<!-- ================ -->
<div class="section clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Related Products</h2>
				<div class="separator-2"></div>
				<p>Sed ut Perspiciatis Unde Omnis Iste Sed ut sit  voluptatem accusan tium </p>
				<div class="row grid-space-20">
					<div class="col-md-3 col-sm-6">
						<div class="listing-item">
							<div class="overlay-container">
								<img src="images/product-1.png" alt="">
								<a href="shop-product.html" class="overlay small">
									<i class="fa fa-plus"></i>
									<span>View Details</span>
								</a>
							</div>
							<div class="listing-item-body clearfix">
								<h3 class="title"><a href="shop-product.html">Adipisicing 7.7" Tempora 4.2</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempora debitis, sed illo officiis.</p>
								<span class="price">$99.00</span>
								<div class="elements-list pull-right">
									<a href="#" class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></a>
									<a href="#"><i class="fa fa-shopping-cart pr-10"></i>Add to Cart</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="listing-item">
							<div class="overlay-container">
								<img src="images/product-2.png" alt="">
								<a href="shop-product.html" class="overlay small">
									<i class="fa fa-plus"></i>
									<span>View Details</span>
								</a>
							</div>
							<div class="listing-item-body clearfix">
								<h3 class="title"><a href="shop-product.html">Consectetur 5.5" Vitae</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempora debitis, sed illo officiis.</p>
								<span class="price">$99.00</span>
								<div class="elements-list pull-right">
									<a href="#" class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></a>
									<a href="#"><i class="fa fa-shopping-cart pr-10"></i>Add to Cart</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="listing-item">
							<div class="overlay-container">
								<img src="images/product-3.png" alt="">
								<a href="shop-product.html" class="overlay small">
									<i class="fa fa-plus"></i>
									<span>View Details</span>
								</a>
							</div>
							<div class="listing-item-body clearfix">
								<h3 class="title"><a href="shop-product.html">Rempora 15.4" 4GB illo</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempora debitis, sed illo officiis.</p>
								<span class="price">$99.00</span>
								<div class="elements-list pull-right">
									<a href="#" class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></a>
									<a href="#"><i class="fa fa-shopping-cart pr-10"></i>Add to Cart</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="listing-item">
							<div class="overlay-container">
								<img src="images/product-4.png" alt="">
								<a href="shop-product.html" class="overlay small">
									<i class="fa fa-plus"></i>
									<span>View Details</span>
								</a>
								<span class="badge default-bg">Sale</span>
							</div>
							<div class="listing-item-body clearfix">
								<h3 class="title"><a href="shop-product.html">Dolor 4.4 Smartphone</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<div><del>$149.00</del></div>
								<span class="price">$99.00</span>
								<div class="elements-list pull-right">
									<a href="#" class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></a>
									<a href="#"><i class="fa fa-shopping-cart pr-10"></i>Add to Cart</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- section end -->

