{% load staticfiles %}
<!-- section start -->
<!-- ================ -->
<div class="section clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Produtos Relacionados</h2>
				<div class="separator-2"></div>
				<div class="row grid-space-20">

					<div class="col-md-3 col-sm-6">
						<div class="listing-item">
							<div class="listing-item-body clearfix">
								<h3 class="title"><a href="shop-product.html">Lote 2</a></h3>
								<p>IMP HYUNDAI TUCSON GL 20L 2008/2009 KYB2015</p>
								<span class="price">R$ 19.000,00</span>
								<div class="elements-list pull-right">
									<a href="#"><i class="fa fa-gavel pr-10"></i>Ver</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="listing-item">
							<div class="listing-item-body clearfix">
								<h3 class="title"><a href="shop-product.html">Lote 3</a></h3>
								<p>IMP FIAT SIENA EL 1.0 FLEX 2013/2014 KYL7649</p>
								<span class="price">R$ 10.700,00</span>
								<div class="elements-list pull-right">
									<a href="#"><i class="fa fa-gavel pr-10"></i>Ver</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="listing-item">
							<div class="listing-item-body clearfix">
								<h3 class="title"><a href="shop-product.html">Lote 3</a></h3>
								<p>IMP FIAT SIENA EL 1.0 FLEX 2013/2014 KYL7649</p>
								<span class="price">R$ 10.700,00</span>
								<div class="elements-list pull-right">
									<a href="#"><i class="fa fa-gavel pr-10"></i>Ver</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="listing-item">
							<div class="listing-item-body clearfix">
								<h3 class="title"><a href="shop-product.html">Lote 3</a></h3>
								<p>IMP FIAT SIENA EL 1.0 FLEX 2013/2014 KYL7649</p>
								<span class="price">R$ 10.700,00</span>
								<div class="elements-list pull-right">
									<a href="#"><i class="fa fa-gavel pr-10"></i>Ver</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- section end -->

