{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- main start -->
<!-- ================ -->
<div class="main col-md-12" ng-app="BidApp">

	<!-- page-title start -->
	<!-- ================ -->
	<h1 class="page-title margin-top-clear">{{product.description}}</h1>
	<!-- page-title end -->

	<div class="row">
		<div class="col-md-4">
			<!-- Nav tabs -->
			<ul class="nav nav-pills white space-top" role="tablist">
				<li class="active"><a href="#product-images" role="tab" data-toggle="tab" title="images"><i class="fa fa-camera pr-5"></i>Fotos</a></li>
			</ul>

			<!-- Tab panes start-->
			<div class="tab-content clear-style">
				<div class="tab-pane active" id="product-images">
					<div class="owl-carousel content-slider-with-controls-bottom">
						{% for photo in product.photo_set.all %}
						<div class="overlay-container">
							<img src="/media/{{photo.file}}" alt="">
							<a href="/media/{{photo.file}}" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<!-- Tab panes end-->
			<hr>
		</div>

		<!-- product side start -->
		<aside class="col-md-8">
			<div class="sidebar">
				<div class="side product-item vertical-divider-left">
					<div class="tabs-style-2">
						<!-- Nav tabs -->
						<ul id="tabs" class="nav nav-tabs" role="tablist">
							{% if user.can_give_bid %}
							<li><a href="#h2tab1" role="tab" data-toggle="tab">Dê um Lance</a></li>
							{% endif %}
							<li><a href="#h2tab2" role="tab" data-toggle="tab"><i class="fa fa-files-o pr-5"></i>Descrição</a></li>
							<li><a href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-users pr-5"></i>Histórico de Lances</a></li>
						</ul>

						{% if user.can_give_bid %}
						<!-- Tab panes -->
						<div class="tab-content padding-top-clear padding-bottom-clear">
							<div class="tab-pane fade in active" id="h2tab1" ng-controller="BidCtrl as vm">
							{% verbatim %}
								<div class="row" ng-hide="vm.bids">
									<div class="col-lg-12 text-center">
										<i class="fa fa-refresh fa-spin fa-2x space-lg" style="margin-top: 50px;"></i>
									</div>
								</div>
								<div class="row ng-hide" ng-show="vm.bids">
									<div class="col-md-6">
										<br>
										<dl class="dl-horizontal">
											<dt>Lance atual</dt>
											<dd>{{vm.last_value()|currency}}</dd>
											<dt>Arrematante</dt>
											<dd>( {{vm.last_user()}} )</dd>
											<dt>Total de Lances</dt>
											<dd>{{vm.bids.length}}</dd>
										</dl>
									</div><!-- /.col-md-6 -->

									<div class="col-md-6">
										<br>
										<form role="form" id="bid-form" ng-submit="vm.make_bid()">
											<div class="form-group">
												<label class="label-control">Valor do Lance</label>
												<strong class="pull-right" id="clock-time" ng-bind="vm.get_clock_time()|clock" animate-clock-time="vm.get_clock_time()"></strong>
												<input type="text" class="form-control" ng-model="vm.bidForm.value" required>
											</div>
											<div class="form-group">
												<input type="submit" value="Dê um Lance!" class="btn btn-default">
											</div>
										</form>
								{% endverbatim %}
								{% if user.is_staff or user.is_superuser %}
										<form role="form" id="open-clock-form" ng-submit="vm.openClock()">
												<input type="submit" value="Abrir relógio" class="btn btn-default">
										</form>
								{% endif %}
									</div><!-- /.col-md-6 -->
								</div><!-- /.row -->
							</div><!-- /.tab-pane -->
							{% endif %}

							<div class="tab-pane fade in" id="h2tab2">
								<h4 class="space-top">Descritivo do Lote</h4>
								<hr>

								<dl class="dl-horizontal">
									<dt>Ano</dt>
									<dd>{{product.year}}</dd>
									<dt>Combustível</dt>
									<dd>{{product.fuel}}</dd>
									<dt>Cor</dt>
									<dd>{{product.color}}</dd>
									<dt>Depósito</dt>
									<dd>{{product.depot}}</dd>
									<dt>Estado Geral</dt>
									<dd>{{product.general_state}}</dd>
									<dt>Modelo</dt>
									<dd>{{product.model}}</dd>
								</dl>
								<hr>
							</div>
							<div class="tab-pane fade" id="h2tab3" ng-controller="BidCtrl as vm">

								<h4 class="space-top">Histórico de Lances</h4>
								<hr>

								<table class="table cart table-hover table-striped">
									<thead>
										<tr>
											<th>Data/Hora</th>
											<th>Usuário</th>
											<th>Lance</th>
										</tr>
									</thead>

									<tbody>
										{% verbatim %}
										<tr ng-repeat="bid in vm.bids">
											<td>{{bid.created_at|date:'medium'}}</td>
											<td>{{bid.user_username}}</td>
											<td><span class="pull-right">{{bid.value|currency}}</span></td>
										</tr>
										{% endverbatim %}
									</tbody>
								</table>
							</div><!-- /#h2tab3 -->
						</div><!-- /.tab-content -->
					</div><!-- /.tabs-style-2 -->
				</div><!-- /.side -->
			</div><!-- /.sidebar -->
		</aside>
		<!-- product side end -->
	</div>

</div>
<!-- main end -->

{% include 'website/product_related_products.html' %}


{% endblock %}

{% block extra_js %}
<script src="{% static 'js/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular/angular-animate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular/angular-locale_pt-br.js' %}"></script>
<script type="text/javascript">
(function($){
	'use strict';
	var $tabs = $("#tabs");
	$tabs.find('li:first').addClass('active');

	var app = angular.module('BidApp', []);
	app.config(['$httpProvider', function($httpProvider){
		$httpProvider.defaults.xsrfCookieName = 'csrftoken';
		$httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}]);
	app.filter('clock', ['$filter', function($filter){
		return function(microseconds){
			if(!isNaN(microseconds)){
				return $filter('date')(microseconds, 'mm:ss');
			}
			if(typeof(microseconds) == 'string')return microseconds;
		};
	}])
	app.directive('animateClockTime', ['$animate', function($animate){
		return function(scope, elem, attr){
			scope.$watch(attr.animateClockTime, function(newv, oldv){
				if(newv == 'ENCERRADO' || newv < 5000){
					elem.addClass('text-danger');
				}
				if(newv!=oldv){
					$animate.addClass(elem, 'changedV').then(function(){
						elem.removeClass('changedV');
					});
				}
			});
		};
	}]);
	app.factory('_', ['$window', function($window){
		return $window._;
	}]);
	app.factory('Bid', ['_', '$http', '$rootScope', function(_, $http, $rootScope){
		var bid = {
			list: list,
			create: create,
			get_remaning_bid_time: remaning_bid_time,
			get_closed: get_closed
		}
		var closed =false;

		function get_closed(){
			return closed;
		}

		function remaning_bid_time(bid){
			if(bid && bid.close_at){
				var utc_close_time = new Date(bid.close_at).toISOString(),
					utc_now = new Date(Date.now()).toISOString(),
					close_time = new Date(utc_close_time),
					now = new Date(utc_now);
				return close_time.getTime() - now.getTime();
			}
		}
		function list(){
			return $http.get('bids/');
		}
		function create(value){
			return $http.post('bids/', {value: value});
		}
		var clockTick = function(){
			var request = list();
			request.success(function(data){
				var bids = _.sortBy(data['bids'], 'id').reverse();
				$rootScope.$emit('BidClockTick', bids);
			    setTimeout(function(){
					clockTick();
				}, 700);
			});
		}
		clockTick();
		return bid;
	}]);
	app.factory('Product', ['$http', function($http){
		var Product = {
			openClock: openClock
		}
		function openClock(){
			return $http.post('open-clock/');
		}
		return Product;
	}]);

	app.controller('BidCtrl', ['$rootScope', 'Bid', 'Product',  function($rootScope, Bid, Product){
		var vm = this;
		vm.bids = false;
		vm.bidForm = {};
		vm.last_bid = function(){
			if(vm.bids.length) return vm.bids[0];
		}
		vm.last_value = function(){
			var last_bid = vm.last_bid();
			if (last_bid) return last_bid.value;
			return '';
		}
		vm.last_user = function(){
			var last_bid = vm.last_bid();
			if (last_bid) return last_bid.user_username;
			return '';
		}
		vm.get_clock_time = function(){
			var last_bid = vm.last_bid()
			if (last_bid){
				var remaning = Bid.get_remaning_bid_time(last_bid)
				if(remaning <0)return 'ENCERRADO';
				return remaning;
			}
			return '--:--';
		}
		vm.make_bid = function(){
			var request = Bid.create(vm.bidForm.value);
			request.success(function(data){
			});
		}
		vm.openClock = function(){
			var openClock = Product.openClock()
			openClock.success(function(){});
		}
		var load_bids = function(event, bids){
			vm.bids=bids;
		};
		$rootScope.$on('BidClockTick', load_bids);

	}]);

})(jQuery);
</script>
{% endblock extra_js %}
