{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- main start -->
<!-- ================ -->
<div class="main col-md-12" ng-app="BidApp">

	<!-- page-title start -->
	<!-- ================ -->
	<h1 class="page-title margin-top-clear">{{product.description}}</h1>
	<!-- page-title end -->

	<div class="row">
		<div class="col-md-4">
			<!-- Nav tabs -->
			<ul class="nav nav-pills white space-top" role="tablist">
				<li class="active"><a href="#product-images" role="tab" data-toggle="tab" title="images"><i class="fa fa-camera pr-5"></i>Fotos</a></li>
			</ul>

			<!-- Tab panes start-->
			<div class="tab-content clear-style">
				<div class="tab-pane active" id="product-images">
					<div class="owl-carousel content-slider-with-controls-bottom">
						{% for photo in product.photo_set.all %}
						<div class="overlay-container">
							<img src="/media/{{photo.file}}" alt="">
							<a href="/media/{{photo.file}}" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<!-- Tab panes end-->
			<hr>
		</div>

		<!-- product side start -->
		<aside class="col-md-8">
			<div class="sidebar">
				<div class="side product-item vertical-divider-left">
					<div class="tabs-style-2">
						<!-- Nav tabs -->
						<ul id="tabs" class="nav nav-tabs" role="tablist">
							{% if user.can_give_bid %}
							<li><a href="#h2tab1" role="tab" data-toggle="tab">Dê um Lance</a></li>
							{% endif %}
							<li><a href="#h2tab2" role="tab" data-toggle="tab"><i class="fa fa-files-o pr-5"></i>Descrição</a></li>
							<li><a href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-users pr-5"></i>Histórico de Lances</a></li>
						</ul>

						{% if user.can_give_bid %}
						<!-- Tab panes -->
						<div class="tab-content padding-top-clear padding-bottom-clear">
							<div class="tab-pane fade in active" id="h2tab1" ng-controller="BidCtrl as bid">
								<div class="row">
									<div class="col-md-6">
										<br>
										<dl class="dl-horizontal">
											<dt>Lance atual</dt>
											<dd>R$ {{product.last_bid.value}}</dd>
											<dt>Arrematante</dt>
											<dd>({{product.last_bid.user}})</dd>
											<dt>Total de Lances</dt>
											<dd>{{product.bid_count}}</dd>
										</dl>
									</div><!-- /.col-md-6 -->

									<div class="col-md-6">
										{%verbatim%}{{bid.hello_world}}{%endverbatim%}
										<br>
										<form role="form">
											<div class="form-group">
												<label class="label-control">Valor do Lance</label>
												<input type="text" class="form-control">
											</div>
											<div class="form-group">
												<input type="submit" value="Dê um Lance!" class="btn btn-default">
											</div>
										</form>
									</div><!-- /.col-md-6 -->
								</div><!-- /.row -->
							</div><!-- /.tab-pane -->
							{% endif %}

							<div class="tab-pane fade in" id="h2tab2">
								<h4 class="space-top">Descritivo do Lote</h4>
								<hr>

								<dl class="dl-horizontal">
									<dt>Ano</dt>
									<dd>{{product.year}}</dd>
									<dt>Combustível</dt>
									<dd>{{product.fuel}}</dd>
									<dt>Cor</dt>
									<dd>{{product.color}}</dd>
									<dt>Depósito</dt>
									<dd>{{product.depot}}</dd>
									<dt>Estado Geral</dt>
									<dd>{{product.general_state}}</dd>
									<dt>Modelo</dt>
									<dd>{{product.model}}</dd>
								</dl>
								<hr>
							</div>
							<div class="tab-pane fade" id="h2tab3">

								<h4 class="space-top">Histórico de Lances</h4>
								<hr>

								<table class="table cart table-hover table-striped">
									<thead>
										<tr>
											<th>Data/Hora</th>
											<th>Usuário</th>
											<th>Lance</th>
										</tr>
									</thead>

									<tbody>
										{% for bid in product.bids.all %}
										<tr>
											<td>{{bid.created_at}}</td>
											<td>{{bid.user}}</td>
											<td><span class="pull-right">R$ {{bid.value}}</span></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div><!-- /#h2tab3 -->
						</div><!-- /.tab-content -->
					</div><!-- /.tabs-style-2 -->
				</div><!-- /.side -->
			</div><!-- /.sidebar -->
		</aside>
		<!-- product side end -->
	</div>

</div>
<!-- main end -->

{% include 'website/product_related_products.html' %}


{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/angular/angular.min.js' %}"></script>
<script type="text/javascript">
(function($){
	'use strict';
	var $tabs = $("#tabs");
	$tabs.find('li:first').addClass('active');

	var app = angular.module('BidApp', []);

	app.controller('BidCtrl', [function(){
		this.hello_world = 'Hello World';
	}]);

})(jQuery);
</script>
{% endblock extra_js %}
