<div class="row">
	<div class="col-md-6">

		<ul class="pagination">
			{% if page_obj.has_previous %}
			<li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
			{% endif %}

			{% if page_obj.has_next %}
			<li><a href="?page={{ page_obj.next_page_number }}">Próximo</a></li>
			{% endif %}
		</ul>
	</div>

	<div class="col-md-6" style="margin: 20px 0 40px;">
		<p class="text-right">{{page_obj.number}} de {{paginator.num_pages}} página(s) | {{paginator.count}} {{object_label}}</p>
	</div>

</div>
