{% extends 'base.html' %}

{% block content %}

<!-- main start -->
<!-- ================ -->
<div class="main col-md-12">

	<div class="row">
		<div class="col-md-3">
			<h3 class="title">Opções</h3>
			<div class="separator-2"></div>
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li {% if not submenu_active %} class="active"{%endif%}><a href="{% url 'dashboard' %}">Visão Geral</a></li>
					<li {% if submenu_active == 'user' %}class="active"{% endif %}><a href="{% url 'user_list' %}">Usuários</a></li>
					<li {% if submenu_active == 'product' %}class="active"{%endif%}><a href="{% url 'product_list' %}">Lotes</a></li>
					<li {% if submenu_active == 'brand' %}class="active"{%endif%}><a href="{% url 'brand_list' %}">Marcas</a></li>
					<li {% if submenu_active == 'model' %}class="active"{%endif%}><a href="{% url 'model_list' %}">Modelos</a></li>
				</ul>
			</nav>

			<h3 class="title">Recomendações</h3>
			<div class="separator-2"></div>
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li {% if submenu_active == 'user_recommendation' %}class="active"{% endif %}><a href="{% url 'user_recommendation' %}">Recomendação para Cliente</a></li>
				</ul>
			</nav>
		</div><!-- /.col-md-3 -->
		<div class="col-md-9">
			{% block app %}{% endblock app %}
		</div>
	</div><!-- /.row -->


</div><!-- /.main -->

{% endblock content %}

