{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}

<!-- main start -->
<!-- ================ -->
<div class="main col-md-12">

	<!-- main start -->
	<!-- ================ -->
	<div class="main object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
		<div class="form-block center-block">
			<h2 class="title">Entrar</h2>
			<hr>
			<form class="form-horizontal" method="post" action="#">{% csrf_token %}
				<div class="form-group {% if form.username.errors %}has-error{%endif%} has-feedback">
					<label for="inputUserName" class="col-sm-3 control-label">Usuário</label>
					<div class="col-sm-8">
						{{form.username}}
						<i class="fa fa-user form-control-feedback"></i>
						{% for error in form.username.errors %}
						<span class="help-block">{{error}}</span>
						{% endfor %}
					</div>
				</div>
				<div class="form-group {% if form.password.errors %}has-error{%endif%} has-feedback">
					<label for="inputPassword" class="col-sm-3 control-label">Senha</label>
					<div class="col-sm-8">
						{{form.password}}
						<i class="fa fa-lock form-control-feedback"></i>
						{% for error in form.password.errors %}
						<span class="help-block">{{error}}</span>
						{% endfor %}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-8">
						<button type="submit" class="btn btn-group btn-default btn-sm">Entrar</button>
					</div>
				</div>
			</form>
		</div>
		<p class="text-center space-top">Não tem uma conta ainda? <a href="{% url 'signup' %}">Entrar</a> agora.</p>
	</div>
	<!-- main end -->
	<br>
	<br>
	<br>

</section>

{% endblock content %}

