{% load staticfiles %}

{% block extra_css %}
<style>
	.image-faq{
		border:1px solid #CCC;
		margin:20px 0 20px 0;
		text-align: center;
	}

</style>
{% endblock extra_css %}

<h4>Passos</h4>
<ol>
	<li>Acesse a área administrativa do sistema.</li>
	<li>Acesse menu <strong>Opções > Modelos</strong></li>
	<li>No inicio da listagem de modelos, aparece um filtro de pesquisa, informa a marca ou o nome do modelo ou parte do nome e precione o botão <strong>Filtrar</strong>:</li>
</ol>
{% load staticfiles %}
