{% load staticfiles %}

{% block extra_css %}
<style>
	.image-faq{
		border:1px solid #CCC;
		margin:20px 0 20px 0;
		text-align: center;
	}

</style>
{% endblock extra_css %}

<h4>Passos</h4>
<ol>
	<li>Acesse a área administrativa do sistema.</li>
	<li>Acesse menu <strong>Opções > Marcas</strong></li>
	<li>Acima do filtro de pesquisa na listagem de marcas, clique no botão <strong>Nova Marca</strong>.</li>
	<li>Preencha o formulário com o nome da nova marca e clique no botão <strong>Salvar</strong>.</li>
</ol>
