{% load staticfiles %}

{% block extra_css %}
<style>
	.image-faq{
		border:1px solid #CCC;
		margin:20px 0 20px 0;
		text-align: center;
	}

</style>
{% endblock extra_css %}

<h4>Passos</h4>
<ol>
	<li>Acesse a área administrativa do sistema.</li>
	<li>Acesse menu <strong>Opções > Lotes</strong></li>
	<li>Clique no número do lote que você deseja editar.</li>
	<li>Aparecerá um formulário com os dados do lote, altere os dados que você deseja editar e clique no botão <strong>Salvar</strong>.</li>
</ol>
