{% load staticfiles %}

{% block extra_css %}
<style>
	.image-faq{
		border:1px solid #CCC;
		margin:20px 0 20px 0;
		text-align: center;
	}

</style>
{% endblock extra_css %}

<h4>Passos</h4>
<ol>
	<li>Acesse a área administrativa do sistema.</li>
	<li>Acesse menu <strong>Opções > Recomendação para Clientes</strong></li>
	<li>Aparecerá a listagem de recomendação de produtos recomendados.</li>
	<li>No filtro de Usuários, selecione um usuário e clique no botão <strong>Filtrar</strong>.</li>
	<li>Aparecerá os produtos recomendados para o usuário. Quanto mais próximo de 1, o fator de similaridade, mais semelhante ao usuário o produto é.</li>
</ol>
