{% load staticfiles %}

{% block extra_css %}
<style>
	.image-faq{
		border:1px solid #CCC;
		margin:20px 0 20px 0;
		text-align: center;
	}

</style>
{% endblock extra_css %}

<h4>Passos</h4>
<ol>
	<li>Acesse a área administrativa do sistema.</li>
	<li>Acesse menu <strong>Opções > Lotes</strong></li>
	<li>Acima do filtro de pesquisa, clique no botão <strong>Novo Lote</strong></li>
	<li>Aparecerá um formulário com os dados do lote, preencha o formulário e clique no botão <strong>Salvar</strong>.</li>
</ol>

<div class="alert alert-info">
	<p>Um lote só estará disponível para lance se estiver com o status <strong>Liberado para Lance</strong>.</p>
</div>
