{% load staticfiles %}

{% block extra_css %}
<style>
	.image-faq{
		border:1px solid #CCC;
		margin:20px 0 20px 0;
		text-align: center;
	}

</style>
{% endblock extra_css %}

<h4>Passos</h4>

<ol>
	<li>Acesse a área administrativa do sistema.</li>
	<li>Acesse menu <strong>opções > Usuários</strong></li>
	<li>Na listagem de usuários, clique no nome do usuário que você deseja editar.</li>
	<li>Aparecerá um formulário com os dados do usuário preenchido.</li>
	<li>No final do formulário, possui uma sessão chamada "Grupos", selecione os grupos que você deseja que o usuário faça parte e clique no botão <strong>Salvar</strong>.</li>
</ol>

<h4>Imagens:</h4>

<div class="image-faq">
	<img class="img-responsive center-block" src="{% static 'images/help/10_01.png' %}">
	<caption>Sessão "Grupos", no formulário de edição de usuários.</caption>
</div>


