{% load staticfiles %}

{% block extra_css %}
<style>
	.image-faq{
		border:1px solid #CCC;
		margin:20px 0 20px 0;
		text-align: center;
	}

</style>
{% endblock extra_css %}

<h4>Passos</h4>
<ol>
	<li>Acesse a área administrativa do sistema.</li>
	<li>Acesse menu <strong>Opções > Modelo</strong></li>
	<li>Na listagem de modelos, clique no nome do modelo que você deseja alterar.</li>
	<li>Aparecerá o formulário de edição do modelo, modique os dados necessários e clique no botão <strong>Salvar</strong>, para guardar sua alteração.</li>
</ol>
