{% extends 'backend.html' %}
{% load bootstrap %}

{% block app %}
<!-- main-container start -->
<!-- ================ -->

<h2 class="title">Lote</h2>
<div class="separator-2"></div>

<form method="post" action="#" enctype="multipart/form-data"> {%csrf_token%}

	<fieldset>
		<legend>Dados do Veiculo</legend>

		{{form.description|bootstrap}}

		{{form.model|bootstrap}}

		{{form.color|bootstrap}}

		{{form.year|bootstrap}}

	</fieldset>

	<fieldset>
		<legend>Atributos do Lote</legend>

		{{form.product_number|bootstrap}}

		{{form.general_state|bootstrap}}

		{{form.initial_price|bootstrap}}

		{{form.clock_starts_at|bootstrap}}

		{{form.status|bootstrap}}

	</fieldset>

	<h2 class="title">Fotos do Lote</h2>
	<div class="separator-2"></div>

	{% with inlines.0 as formset %}
	{{formset.management_form}}


	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Foto</th>
				<th>Arquivo</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody>
			{% for form in formset %}
			{{form.id}}
			<tr>
				<td>{% if form.instance.file %}<img src="/media/{{form.instance.file }}" width="200">{%else%}(nenhum){% endif%}</td>
				<td>{{form.file|bootstrap}}</td>
				<td>{{form.DELETE|bootstrap}}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="2">Nenhuma foto cadastrada</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	{% endwith %}


	<div class="row">
		{% if object %} {# show delete button just if is editing #}
		<div class="col-lg-6">
			<a href="{% url 'product_delete' object.pk %}" class="btn btn-danger">Excluir</a>
		</div>
		{% endif %}

		<div class="{% if object %}col-lg-6{%else%}col-lg-12{%endif%}">
			<div class="text-right">
				<button class="btn btn-default">Salvar</button>
			</div>
		</div>
	</div>

</form>

{% endblock app %}

