{% extends 'backend.html' %}
{% load bootstrap %}

{% block app %}
<!-- main-container start -->
<!-- ================ -->

<h2 class="title">Lote</h2>
<div class="separator-2"></div>

<form method="post" action="#"> {%csrf_token%}

	<fieldset>
		<legend>Dados do Veiculo</legend>

		{{form.description|bootstrap}}

		{{form.model|bootstrap}}

		{{form.color|bootstrap}}

		{{form.year|bootstrap}}

	</fieldset>

	<fieldset>
		<legend>Atributos do Lote</legend>

		{{form.product_number|bootstrap}}

		{{form.general_state|bootstrap}}

		{{form.initial_price|bootstrap}}

		{{form.clock_starts_at|bootstrap}}

		{{form.status|bootstrap}}

	</fieldset>

	<h2 class="title">Fotos do Lote</h2>
	<div class="separator-2"></div>


	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Foto</th>
				<th>Arquivo</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>(nenhum)</td>
				<td><input type="file"></td>
			</tr>
		</tbody>
	</table>

	<div class="text-right">
		<button class="btn btn-default">Salvar</button>
	</div>

</form>

{% endblock app %}

