{% extends 'backend.html' %}
{% load bootstrap %}

{% block title %}Usuário{% endblock title %}

{% block app %}
<!-- main-container start -->
<!-- ================ -->

<h2 class="title">Usuário</h2>
<div class="separator-2"></div>

<form method="post" action="#">{% csrf_token %}

	<fieldset>
		<legend>Dados para Acesso</legend>

		{{form.username|bootstrap}}

		{{form.is_active|bootstrap}}

	</fieldset>


	<fieldset>
		<legend>Dados Pessoais</legend>

		{{form.first_name|bootstrap}}

		{{form.last_name|bootstrap}}

		{{form.email|bootstrap}}

		{{form.phone|bootstrap}}

		{{form.birth_date|bootstrap}}

		{{form.cpf_cnpj|bootstrap}}

		{{form.doc|bootstrap}}

		{{form.doc_entity|bootstrap}}

	</fieldset>

	<fieldset>

		<legend>Endereço</legend>

		{{form.address|bootstrap}}

		{{form.neighborhood|bootstrap}}

		{{form.city|bootstrap}}

		{{form.state|bootstrap}}

		{{form.cep|bootstrap}}

	</fieldset>

	<fieldset>

		<legend>Grupos</legend>

		{{form.is_marketing|bootstrap}}

		{{form.is_staff|bootstrap}}

	</fieldset>

	<div class="row">

		{% if object %}

		<div class="col-md-6">
			<div class="text-left">
				<a href="{% url 'activate_user' object.pk %}" class="btn btn-info">Ativar / Rejeitar Cadastro</a>
			</div>
		</div>

		{% endif %}

		<div class="{% if object %}col-md-6{% else %}col-md-12{%endif%}">
			<div class="text-right">
				<button class="btn btn-default">Salvar</button>
			</div>
		</div>

	</div>


</form>

{% endblock app %}
