{% extends 'backend.html' %}
{% load bootstrap %}

{% block app %}

<div class="row">
	<div class="col-md-6">
		<h2>Clientes</h2>
		<div class="separator-2"></div>
	</div>
	<div class="col-md-6">
		<div class="text-right">
			<a href="{% url 'user_add' %}" class="btn btn-default">Novo Cliente</a>
		</div>
	</div>
</div>

<div class="sorting-filters">
	<form class="form-inline" method="get">

		{{ form|bootstrap}}

		<div class="form-group">
			<button class="btn btn-default">Filtrar</button>
		</div>
	</form>
</div>

<table class="table table-striped table-bordared table-hover">
	<thead>
		<tr>
			<th>Usuário</th>
			<th>Nome</th>
			<th>Sobrenome</th>
			<th>E-mail</th>
			<th>Ativo?</th>
		</tr>
	</thead>
	<tbody>
		{% for user in object_list %}
		<tr>
			<td><strong><a href="{% url 'user_edit' user.id %}">{{user.username}}</a></strong></td>
			<td>{{user.first_name}}</td>
			<td>{{user.last_name}}</td>
			<td>{{user.email}}</td>
			<td class="text-center">
				{% if user.is_active %}
				<i class="fa fa-circle text-success"></i>
				{%else%}
				<i class="fa fa-circle text-danger"></i>
				{%endif%}
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="5">Nenhum registro encontrado.</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% include '_pagination.html' with object_label='Usuários' %}

</div><!-- /.row -->

{% endblock app %}
