{% extends 'backend.html' %}

{% block app %}

<div class="row">
	<div class="col-md-6">
		<h2>Clientes</h2>
		<div class="separator-2"></div>
	</div>
	<div class="col-md-6">
		<div class="text-right">
			<a href="{% url 'user_add' %}" class="btn btn-default">Novo Cliente</a>
		</div>
	</div>
</div>

<div class="sorting-filters">
	<form class="form-inline" method="get">
		{{form}}

		<div class="form-group">
			<label>Nome do usuário</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label>CPF/CNPJ</label>
			<input type="text" class="form-control">
		</div>

		<div class="form-group">
			<label>Está Ativo?</label>
			<select class="form-control">
				<option>SIM</option>
				<option>NÃO</option>
			</select>
		</div>

		<div class="form-group">
			<button class="btn btn-default">Filtrar</button>
		</div>
	</form>
</div>

<table class="table table-striped table-bordared table-hover">
	<thead>
		<tr>
			<th>Usuário</th>
			<th>Nome</th>
			<th>Sobrenome</th>
			<th>E-mail</th>
			<th>Ativo?</th>
		</tr>
	</thead>
	<tbody>
		{% for user in object_list %}
		<tr>
			<td><strong><a href="{% url 'user_add' %}">{{user.username}}</a></strong></td>
			<td>{{user.first_name}}</td>
			<td>{{user.last_name}}</td>
			<td>{{user.email}}</td>
			<td><i class="fa fa-check text-success"></i></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="row">
	<div class="col-md-6">

		<ul class="pagination">
			<li><a href="#">Anterior</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">Próximo</a></li>
		</ul>
	</div>

	<div class="col-md-6" style="margin: 20px 0 40px;">
		<p class="text-right">12567 Clientes</p>
	</div>
</div>

</div><!-- /.row -->

{% endblock app %}
